merdue.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://fee.intf.service.acq.hmn.ykb.com/" name="IMerDueMailService" targetNamespace="http://fee.intf.service.acq.hmn.ykb.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://intf.service.acq.hmn.ykb.com/" xmlns:ns1="http://fee.intf.service.acq.hmn.ykb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://intf.service.acq.hmn.ykb.com/">
      <xs:import namespace="http://fee.intf.service.acq.hmn.ykb.com/"/>
      <!-- Removed acqBaseDTO array -->
      <xs:element name="createBulkList" type="tns:createBulkList"/>
      <xs:element name="createBulkListResponse" type="tns:createBulkListResponse"/>
      <xs:element name="delete" type="tns:delete"/>
      <xs:element name="deleteResponse" type="tns:deleteResponse"/>
      <xs:element name="findByPrimaryKey" type="tns:findByPrimaryKey"/>
      <xs:element name="findByPrimaryKeyResponse" type="tns:findByPrimaryKeyResponse"/>
      <xs:element name="saveOrUpdate" type="tns:saveOrUpdate"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="saveOrUpdateResponse" type="tns:acqBaseDTO"/>
      <xs:element name="saveOrUpdateSet" type="tns:saveOrUpdateSet"/>
      <xs:element name="saveOrUpdateSetResponse" type="tns:saveOrUpdateSetResponse"/>
      <xs:element name="updateBulkList" type="tns:updateBulkList"/>
      <xs:element name="updateBulkListResponse" type="tns:updateBulkListResponse"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:complexType name="acqBaseDTO">
        <xs:complexContent>
          <xs:extension base="tns:coreDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:anyType"/>
              <xs:element minOccurs="0" name="luc" type="xs:long"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="coreDTO">
        <xs:sequence/>
      </xs:complexType>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="saveOrUpdateList" type="tns:acqBaseDTO"/>
      <xs:element name="saveOrUpdateListResponse" type="tns:saveOrUpdateListResponse"/>
      <xs:element name="getMerDueMail" type="tns:getMerDueMail"/>
      <xs:element name="getMerDueMailResponse" type="tns:getMerDueMailResponse"/>
      <xs:complexType name="getMerDueMail">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="arg1" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMerDueMailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="createBulkList" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="createBulkListResponse" nillable="true" type="tns:createBulkListResponse"/>
      <xs:element name="HmnServiceException" type="tns:HmnServiceException"/>
      <xs:complexType name="HmnServiceException">
        <xs:sequence>
          <xs:element name="module" nillable="true" type="xs:string"/>
          <xs:element name="type" nillable="true" type="xs:string"/>
          <xs:element name="id" nillable="true" type="xs:long"/>
          <xs:element name="text" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="updateBulkList" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="updateBulkListResponse" nillable="true" type="tns:updateBulkListResponse"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="saveOrUpdateSet" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="saveOrUpdateSetResponse" nillable="true" type="tns:saveOrUpdateSetResponse"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="delete" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="deleteResponse" nillable="true" type="tns:deleteResponse"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="saveOrUpdateList" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="saveOrUpdateListResponse" nillable="true" type="tns:saveOrUpdateListResponse"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="findByPrimaryKey" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="findByPrimaryKeyResponse" nillable="true" type="tns:findByPrimaryKeyResponse"/>
      <!-- Updated type to reference acqBaseDTO directly -->
      <xs:element name="saveOrUpdate" nillable="true" type="tns:acqBaseDTO"/>
      <xs:element name="saveOrUpdateResponse" nillable="true" type="tns:saveOrUpdateResponse"/>
    </xs:schema>
  </wsdl:types>
  <!-- Rest of the WSDL document remains unchanged -->
</wsdl:definitions>
